<section id="bg_section">
    <div id="content_section">
        <div style="display: none;" id="player_section" [ngStyle]="{'top':audiObj.player_top+'%', 'left':audiObj.player_left+'%'}">
            <div id="player-wrapper" class="player-container"></div>
        </div>    
        <div style="position: absolute; width: 43%; height: 43%; top: 23%; left: 28.8%;"><iframe src="https://vimeo.com/event/1945022/embed" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
        <!-- {{audiObj?.banner}} -->
        <img id="bgimg" [src]="(audiObj?.banner != '') ? audiObj?.banner : myImgUrl" alt="">
        <app-audi-menu></app-audi-menu>  
    </div>
</section>
<app-ask-question></app-ask-question>
<!-- <app-poll></app-poll> -->
<app-pdfmodal></app-pdfmodal>
<app-group-chat></app-group-chat>
<!-- <app-quiz></app-quiz> -->