#arrowButtons{
    color: white;
    #arrLeft,#arrRight{
        cursor: pointer;
        position: fixed;
        bottom: 15%;
        font-weight: 600;
        background-color: #e17044;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        text-align: center;
        box-shadow: 0 0 5px 2px #e17044;
        .fa{
            font-size: 48px;
            // background: black;
            border-radius: 50%;
            line-height: 46px;
        }
        
    }
    #arrLeft{
        left: 3%;
    }
    #arrRight{
        right: 3%;
    }
}
#arrLeft:hover, #arrRight:hover{
    transition: .3s;
    transform: scale(1.2);
}

.p1{
    top: 47.6%;
    left: 70.1%;
}
.p2{
    top: 43.3%;
    left: 46%;
}
.p3{
    
    top: 64%;
    left: 9.2%;

}
.p4{
    top: 64%;
    left: 45.3%;
}
.p5{
    top: 64%;
    left: 84.5%;
}
.p6{
    top: 47.7%;
    left: 21%;
}