#bgimgvh{
    width: 100%;
    height: 100vh;
}


#onloadPlayer{
    video{
        border-radius: 0px;
    }
    position: absolute;
    width: 15%;
    top: 25%;
    left: 41.7%;
    border: 2px solid #000;
    // border-radius: 10px;
    line-height: 0%;
    // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}