.l1{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 7.5%;
    top: 72%;
}

.l2{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 33.3%;
    top: 72%;
}

.l3{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 57%;
    top: 72%;

}

.l4{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 80.5%;
    top: 72%;

}